* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition-duration: 100ms;
}

body {
    background: #2f2f2f;
    margin-bottom: 40px;
}

.title {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 25px auto 0;
    padding: 40px 35px;
    border-radius: 22px;
    text-align: center;
}

.search {
    width: 100%;
    max-width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search  button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    align-items: center;
}

.search button img {
    width: 16px;
    height: 21px;
}

.weather-icon {
    width: 180px;
    margin-top: 30px;
}

.weather h1{
    font-size: 55px;
    font-weight: 350;
}

.weather h2{
    font-size: 35px;
    font-weight: 225;
    margin-top: -10px;
}

.details {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    
    
}

.col {
    display: flex; 
    align-items: center;
    text-align: left;
    
}

 .col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}  

footer {
    display: grid;
    place-items: center;
    margin-bottom: 16px;
    margin-top: 35px;
}

footer a {
    color: inherit;
    height: 12px;
}

footer i {
    cursor: pointer;
    font-size: 28px;
    color: #00feba;
}

footer i:hover {
    color: #5b548a;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

@media screen and (max-width: 749px) {
    .card {
        width: 80%;
        padding: 30px;
    }
    .search{
        width: 100%;
    }
    .weather h1 {
        font-size: 45px;
    }
    .weather h2 {
        font-size: 25px;
    }
    .weather-icon {
        width: 120px;
        margin-top: 20px;
    }
    .col {
        margin: 12px 0;
        justify-content: space-between;
    }
}